h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}

.content>* {
  grid-column: 1/-1;
}

.content>p {
  grid-column: 4/10;
}

.content>h2 {
  grid-column: 4/10;
}

.content>h3 {
  grid-column: 4/10;
}

.content>ul {
  grid-column: 4/10;
}







figure {
  grid-column: 1/ -1;
  justify-self: center;
}
