h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

.post ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.banner-text {
  /*font-size: 30px;
  padding-top: 50px;*/

  margin-bottom: 10px;
  padding-bottom: 0px;
}

.sub-text {
  text-align: center;
  margin-bottom: 0px;
}

.cta {
  display: grid;
  grid-template-columns: 1fr;
}

.cta .button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
  grid-column: 1/-1;
  margin-bottom: 0px;
  margin-top: 20px;

 }


 .cta .button:hover {
   color: white;
   background-color: #39BD9C;
   border: 2px solid #39BD9C;
 }

 .body-button  {
   display: grid;
   grid-template-columns: 1fr;
 }

 .body-button .button {
   text-decoration: none;
   text-align: center;
   font-family: 'Roboto';
   font-weight: 400;
   border: 2px solid black;
   padding: 15px 40px;
   border-radius: 4px;
   justify-self: center;
   grid-column: 1/-1;
   margin-bottom: 10px;
   margin-top: 10px;

  }


  .body-button .button:hover {
    color: white;
    background-color: #39BD9C;
    border: 2px solid #39BD9C;
  }

  .mockups-button  {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mockups-button .button {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    border: 2px solid black;
    padding: 15px 40px;
    border-radius: 4px;
    justify-self: right;
    grid-column: 1/-1;
    margin-bottom: 10px;
    margin-top: 30px;


   }


   .mockups-button .button:hover {
     color: white;
     background-color: #39BD9C;
     border: 2px solid #39BD9C;
   }

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}

.text-container {
grid-column: 4/10;
}

.full-width-container {
  grid-column: 3/11;
}

/*

.post>* {
  grid-column: 1/-1;
}

.post>p {
  grid-column: 3/11;
}

.post>h2 {
  grid-column: 3/11;
}

.post>h3 {
  grid-column: 3/11;
}

.post>ul {
  grid-column: 3/11;
}

*/
/* article img {
  grid-column: 3/11;
  width: 100%;
} */

.usually-hidden {
  visibility: hidden;
  height: 0px;
}

.invisible {
  height: 0px;
}

.user-flow-grid {
  grid-column: 3/11;
  background-color: white;
  padding: 20px;
}

/*
.mockup-grid {

  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 50px;

}

.mockup-grid img {
 height: auto;
 width: 100%;
 justify-self: center;

} */

.user-flow-grid img {

  height: auto;
  width: 100%;

}

.user-flow {
  background-color: #e6e6e6;
  padding: 10px;
}

.strengths {
  background-color: #D6FFB7;
}

.weaknesses {
  background-color: #ffbaba;
}

/*
.persona-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;

}


.persona-grid img {
  grid-column: 2/3;
  width: 100%;
} */

.results-grid {
  display: grid;
  grid-column: 3/11;
}



.post img {
  width:100%;
  justify-self: center;
  text-align: center;
}

iframe {
  grid-column: 1/-1;

  width: 100%;
}

iframe, object, embed {
    max-width: 100%;

}

@media (max-width: 700px) {
  .full-width-container {
    grid-column: 1/-1;
    padding: 15px;
  }

#survey-results {
  display: none;
}

.text-container {
grid-column: 1/-1;
padding: 15px;
}

.invisible {
  height: auto;
  width: 50px;
}

.disappear {
  display: none;
  height: 0px;
}

.banner-text {
  /*font-size: 30px;
  padding-top: 50px;*/

  margin-bottom: 0px;
  padding-bottom: 0px;
}

.sub-text {
  text-align: center;
  margin-bottom: -10px;
}

.cta {
  display: grid;
  grid-template-columns: 1fr;
}

.cta .button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
  grid-column: 1/-1;
  margin-bottom: 20px;
  margin-top: 10px;

 }

 .body-button .button {
   text-decoration: none;
   text-align: center;
   font-family: 'Roboto';
   font-weight: 400;
   border: 2px solid black;
   padding: 15px 40px;
   border-radius: 4px;
   justify-self: center;
   grid-column: 1/-1;
   margin-bottom: 10px;
   margin-top: 0px;

  }

}
