h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

.banner-text {
  /*font-size: 30px;
  padding-top: 50px;*/

  margin-bottom: 10px;
  padding-bottom: 0px;
  line-height: 50px;
}


.sub-text {
  text-align: center;
  margin-bottom: 0px;
}

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}

.text-container {
grid-column: 4/10;
}

.full-width-container {
  grid-column: 3/11;
}

.max-width-container {
  grid-column: 1/-1;
  justify-self: center;
}

/*
.post ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
} */

.cta {
  display: grid;
  grid-template-columns: 1fr;
}

.cta .button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
  grid-column: 1/-1;
  margin-bottom: 0px;
  margin-top: 20px;

 }


 .cta .button:hover {
   color: white;
   background-color: #39BD9C;
   border: 2px solid #39BD9C;
 }


 .body-button  {
   display: grid;
   grid-template-columns: 1fr;
 }

 .body-button .button {
   text-decoration: none;
   text-align: center;
   font-family: 'Roboto';
   font-weight: 400;
   border: 2px solid black;
   padding: 15px 40px;
   border-radius: 4px;
   justify-self: center;
   grid-column: 1/-1;
   margin-bottom: 10px;
   margin-top: 10px;

  }


  .body-button .button:hover {
    color: white;
    background-color: #39BD9C;
    border: 2px solid #39BD9C;
  }

/*
.mockup-img {
  height: 500px;
  width: auto;
  text-align: center;
} */

/*
.post>* {
  grid-column: 1/-1;
}

.post>p {
  grid-column: 3/11;
}

*/

.footer {
  height: 100%;
}


figure {
  z-index: -1;
  grid-column: 3/8;
  margin-top: -110px;
  margin-bottom: -100px;
  position: relative;
}

figure img {
  width: 100%;
}


.before-after-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.before-after-grid img {
  width: 100%;
  height: auto;
}

.persona-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;


}

.persona-grid img {
  grid-column: 2/3;
  width: 100%;
  background-color: #e6e6e6;
  padding: 20px;

}

.results-grid {
  display: grid;
  grid-column: 3/11;
  justify-self: center;
}

iframe {
  grid-column: 1/-1;

  width: 100%;
}

iframe, object, embed {
    max-width: 100%;

}


@media (max-width: 850px) {

  figure {

    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (max-width: 700px) {

  figure {

    margin-top: -60px;
    margin-bottom: -80px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .full-width-container {
    grid-column: 1/-1;
    padding: 15px;
  }

  .text-container {
  grid-column: 1/-1;
  padding: 15px;
  }

  .before-after-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .disappear {
    display: none;
  }

  .banner-text {
    /*font-size: 30px;
    padding-top: 50px;*/

    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .sub-text {
    text-align: center;
    margin-bottom: -10px;
  }

  .cta {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cta .button {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    border: 2px solid black;
    padding: 15px 40px;
    border-radius: 4px;
    justify-self: center;
    grid-column: 1/-1;
    margin-bottom: 20px;
    margin-top: 10px;

   }

   .body-button .button {
     text-decoration: none;
     text-align: center;
     font-family: 'Roboto';
     font-weight: 400;
     border: 2px solid black;
     padding: 15px 40px;
     border-radius: 4px;
     justify-self: center;
     grid-column: 1/-1;
     margin-bottom: 0px;
     margin-top: -30px;

    }
}
