h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.banner-text {
  line-height: 50px;
}

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}

.post>* {
  grid-column: 1/-1;
}

.post>p {
  grid-column: 3/11;
}

figure {
  grid-column: 3/8;
}

figure img {
  width: 100%;
}

.before-after-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.before-after-grid img {
  width: 100%;
  height: auto;
}

.persona-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;


}

.persona-grid img {
  grid-column: 2/3;
  width: 100%;
  background-color: #e6e6e6;
  padding: 20px;

}

.results-grid {
  display: grid;
  grid-column: 3/11;
  justify-self: center;
}

#style-guide {

}

iframe, object, embed {
    max-width: 100%;
}

@media (max-width: 700px) {
  .before-after-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .disappear {
    display: none;
  }
}
