h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}


.post>* {
  grid-column: 1/12;
}

.post>p {
  grid-column: 3/11;
}

.post>h2 {
  grid-column: 3/11;
}

.post>h3 {
  grid-column: 3/11;
}

.post>ul {
  grid-column: 3/11;
}



.post>figure {
  grid-column: 1/ -1;
  justify-self: center;
}

figcaption {
  font-size: 10px;
}

.user-flow-grid {
  grid-column: 3/11;
  background-color: #e6e6e6;
  padding: 20px;
}

.user-flow-grid img {
  width: 100%;
  height: auto;
}

.sketch-grid {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
background-color: #e6e6e6;
padding: 20px;
grid-column: 1/-1;
}

.sketch-grid img {
  width: 100%;
}
.mockup-grid {

  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;



}

.mockup-grid img {
 height: auto;
 width: 100%;
 justify-self: center;
}

#map {

}
#menu {

}

#details {

}

.results-grid {
  display: grid;
  grid-column: 3/11;
}
iframe {
  grid-column: 1/-1;
  justify-self: center;
}
