h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

.post ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 18px;
}

/*
.paycrave-logo {
  height: 40px;
  width: auto;
 text-align: center;
} */

.banner-text {
  /*font-size: 30px;
  padding-top: 50px;*/

  margin-bottom: 10px;
  padding-bottom: 0px;
}

.sub-text {
  text-align: center;
  margin-bottom: 0px;
}

.cta {
  display: grid;
  grid-template-columns: 1fr;
}

.cta .button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
  grid-column: 1/-1;
  margin-bottom: 0px;
  margin-top: 20px;

 }


 .cta .button:hover {
   color: white;
   background-color: #39BD9C;
   border: 2px solid #39BD9C;
 }

.body-button  {
  display: grid;
  grid-template-columns: 1fr;
}

.body-button .button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
  grid-column: 1/-1;
  margin-bottom: 10px;
  margin-top: 0px;

 }


 .body-button .button:hover {
   color: white;
   background-color: #39BD9C;
   border: 2px solid #39BD9C;
 }

 .mockups-button  {
   display: grid;
   grid-template-columns: 1fr;
 }

 .mockups-button .button {
   text-decoration: none;
   text-align: center;
   font-family: 'Roboto';
   font-weight: 400;
   border: 2px solid black;
   padding: 15px 40px;
   border-radius: 4px;
   justify-self: right;
   grid-column: 1/-1;
   margin-bottom: 10px;
   margin-top: 30px;


  }


  .mockups-button .button:hover {
    color: white;
    background-color: #39BD9C;
    border: 2px solid #39BD9C;
  }

.header-pic {
  width: ;
  height: 500px;
}


.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}

.text-container {
grid-column: 4/10;
}

.full-width-container {
  grid-column: 3/11;
}

/*
.img-container {
  grid-column: 10/10;
} */

/*
.post>* {
  grid-column: 1/-1;
}

.post>p {
  grid-column: 3/11;
}

.post>h2 {
  grid-column: 3/11;
}

.post>h3 {
  grid-column: 3/11;
}

.post>ul {
  grid-column: 3/11;
}

.post>figure {
  grid-column: 3/11;
}

*/

figure {
  margin-top: 0px;
}
figure img {
  width:100%;
  justify-self: center;
  text-align: center;
}

figcaption {
  font-size: 10px;
}

.user-flow-grid {
  grid-column: 3/11;
  background-color: white;
  padding: 20px;
}

.user-flow-grid img {
  width: 100%;
  height: auto;
}

.user-flow {
  background-color: #e6e6e6;
  padding: 10px;
}

 .graph  {
  grid-column: 3/11;
  margin-bottom: 0px;
  border: #e6e6e6 solid 2px;
}

.sketch-grid {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
background-color: #e6e6e6;
padding: 20px;
grid-column: 1/-1;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 700px) {

figure {
  padding: 0px;
  margin: 0px;
  
}
  .banner-text {
    /*font-size: 30px;
    padding-top: 50px;*/

    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .sub-text {
    text-align: center;
    margin-bottom: -10px;
  }

  .cta {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cta .button {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    border: 2px solid black;
    padding: 15px 40px;
    border-radius: 4px;
    justify-self: center;
    grid-column: 1/-1;
    margin-bottom: 20px;
    margin-top: 10px;

   }

   .body-button .button {
     text-decoration: none;
     text-align: center;
     font-family: 'Roboto';
     font-weight: 400;
     border: 2px solid black;
     padding: 15px 40px;
     border-radius: 4px;
     justify-self: center;
     grid-column: 1/-1;
     margin-bottom: 10px;
     margin-top: -60px;

    }

   .mockups-button .button {
     text-decoration: none;
     text-align: center;
     font-family: 'Roboto';
     font-weight: 400;
     border: 2px solid black;
     padding: 15px 40px;
     border-radius: 4px;
     justify-self: center;
     grid-column: 1/-1;
     margin-bottom: 0px;
     margin-top: 0px;

    }

  .full-width-container {
    grid-column: 1/-1;
    padding: 15px;
  }

  .text-container {
  grid-column: 1/-1;
  padding: 15px;
  }

  .disappear {
    visibility: hidden;
    height: 0px;
    display: none;
  }

  .hidden {
    visibility: visible;
  }

#map-sketch, #menu-sketch, #map-wireframe, #menu-wireframe, #map-mockup, #menu-mockup  {
  visibility: hidden;
  height: 0px;
}



#truck-finder-sketch, #truck-filter-wireframe, #truck-filter-mockup {
  grid-column: 1/-1;
  width: 100%;
}

.graph {
  display: none;
}

 .banner-text {
    /*font-size: 30px;
    padding-top: 50px;*/
/*    line-height: 50px;
    margin-bottom: 0px; */
  }
}

.sketch-grid img {
  width: 100%;
}
.mockup-grid {

  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 0px;

}

.mockup-grid img {
 height: auto;
 width: 100%;
 justify-self: center;
}



.results-grid {
  display: grid;
  grid-column: 3/11;
}
iframe {
  grid-column: 1/-1;
  justify-self: center;
  width: 100%;
}

iframe, object, embed {
    max-width: 100%;

}
