h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 2px solid #39BD9C;
}

h3 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

ul {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;

}

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}


.post>* {
  grid-column: 1/-1;
}

.post>p {
  grid-column: 3/11;
}

.post>h2 {
  grid-column: 3/11;
}

.post>h3 {
  grid-column: 3/11;
}

.post>ul {
  grid-column: 3/11;
}



.post>figure {
  grid-column: 3/11;
}
figure img {
  width:100%;
  justify-self: center;
  text-align: center;
}

figcaption {
  font-size: 10px;
}

.user-flow-grid {
  grid-column: 3/11;
  background-color: white;
  padding: 20px;
}

.user-flow-grid img {
  width: 100%;
  height: auto;
}

.user-flow {
  background-color: #e6e6e6;
  padding: 10px;
}

.graph img {
  grid-column: 3/11;
  height: 100%;
  width: 500px;

}

.sketch-grid {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
background-color: #e6e6e6;
padding: 20px;
grid-column: 1/-1;
}

@media (max-width: 700px) {

.mockup-grid  {

}

#map-sketch, #menu-sketch, #map-wireframe, #menu-wireframe, #map-mockup, #menu-mockup  {
  visibility: hidden;
  height: 0px;
}



#truck-finder-sketch, #truck-filter-wireframe, #truck-filter-mockup {
  grid-column: 1/-1;
  width: 100%;
}

  .banner-text {
    font-size: 30px;
    padding-top: 50px;
  }
}

.sketch-grid img {
  width: 100%;
}
.mockup-grid {

  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 50px;

}

.mockup-grid img {
 height: auto;
 width: 100%;
 justify-self: center;
}



.results-grid {
  display: grid;
  grid-column: 3/11;
}
iframe {
  grid-column: 1/-1;
  justify-self: center;
}

iframe, object, embed {
    max-width: 100%;
}
