/*

ul {
  float: right;
}
li {
  display: inline;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.green {
  color: #39BD9C;
}

.banner-text {
  text-align: center;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 36px;
}

.my-work {
  background-color: lightgrey;
}

.about-text {
  font-family: 'Roboto', sans-serif;
}

*/

body {
  margin: 0;
}


nav a {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #39BD9C;
}

nav li {
  display: inline;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  float: right;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.green {
  color: #39BD9C;
}


.wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}




header {
  display: grid;

}

.banner {
  height: 80vh;
  display: grid;
}

.banner-text {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  font-size: 48px;
  align-self: center;
}

.logo {
  padding-left: 20px;
  padding-top: 10px;
}

.learn-more {
  display: grid;
  grid-template-columns: 1fr;
}


.learn-more .button {
 text-decoration: none;
 text-align: center;
 font-family: 'Roboto';
 font-weight: 400;
 border: 2px solid black;
 padding: 15px 40px;
 border-radius: 4px;
 justify-self: center;
 grid-column: 1/-1;
 margin-bottom: 50px;
}


.learn-more .button:hover {
  color: white;
  background-color: #39BD9C;
  border: 2px solid #39BD9C;
}

.learn-more h1 {
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
  padding-bottom: 30px;
}


label {
  font-family: 'Roboto', sans-serif;
}

/* My Work Section */
.my-work {
/*  background: linear-gradient(to bottom right, #EDF0F4, #364458); */
  display: grid;
  padding-top: 50px;

/*
  background: linear-gradient(to bottom right, #eef2f3, #8e9eab);*/

}



.my-work h1 {
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
}

.my-work p {
  align-self: center;
  justify-self: center;

}

.mockup {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr) auto;
  padding: 20px;
}

.mockup .text {
  align-self: center;
  justify-self: center;
  grid-column: auto;
}


.my-work .work-picture {
  width: auto;
  height: 500px;
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 2/5;
}

#green-background {
  background: linear-gradient(to bottom right, #eef2f3, #8e9eab);
}

.mockup-button {
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  border: 2px solid black;
  padding: 15px 40px;
  border-radius: 4px;
  justify-self: center;
}

.mockup-button:hover {
  color: white;
  background-color: #39BD9C;
  border: 2px solid #39BD9C;
}

/* Overlay Styling */
/* .content {
  position: relative;
  margin: ;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
}

.content-details p{
  color: #fff;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.fadeIn-top{
  top: 20%;
}

*/
/* About Section */
.about {
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr);
  padding-bottom: 20px;
}

.about h1 {
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  justify-self: center;
  margin-right: 30px;

}

.about p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  padding: 20px;
  align-self: center;
  padding-left: 30px;
  font-size: 24px;
}



.work-together {
  background: white;
}

/* Footer */
.footer {
  background: #333333;
  color: white;
  padding-left: 20px;
  border-top: 2px solid grey;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
}

/* Media Queries */

@media (max-width: 700px) {

  .my-work {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mockup {
    display: grid;
    grid-template-columns: 1fr;
  }


  .mockup .text {
grid-column: 1/2;

text-align: center;
  }



  .my-work .work-picture {
    width: auto;
    height: 300px;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
  }

  .about {
   grid-template-columns: 1fr;
  }

  .banner-text {
    padding: 50px;
  }
}

/* Hamburger Code */

a {
  color: #000;
}

/* header */

.header {

  width: 100%;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 700;
  color: #39BD9C;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #333333;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
