/*

ul {
  float: right;
}
li {
  display: inline;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.green {
  color: #39BD9C;
}

.banner-text {
  text-align: center;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 36px;
}

.my-work {
  background-color: lightgrey;
}

.about-text {
  font-family: 'Roboto', sans-serif;
}

*/

body {
  margin: 0;
}

a {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #39BD9C;
}

li {
  display: inline;
  padding: 10px;
}

ul {
  list-style-type: none;
  float: right;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.green {
  color: #39BD9C;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

.wrapper >* {
  border:3px solid black;
}


nav {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  padding-left: 10px;
}


.banner-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
}

/* My Work Section */
.my-work {
  background: linear-gradient(to bottom right, #EDF0F4, #364458);
  display: grid;
}

.my-work h1 {
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
}

.work-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.work-picture {
  width: 100%;
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr);
}

.about h1 {
  display: grid;
  grid-column: 1/-1;
  justify-self: center;
}

.about img {
  width: 200px;
  height: 100%;
  border-radius: 100%;
  justify-self: center;
  margin-right: 30px;

}

.about p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  padding: 20px;
  align-self: center;
  padding-left: 30px;
}

/* Footer */
.footer {
  background: #333333;
  color: white;
  padding-left: 20px;
  border-top: 2px solid grey;
}

/* Media Queries */
@media (max-width: 700px) {

  .work-pictures {
    grid-template-columns: 1fr;
  }

  .about {
   grid-template-columns: 1fr;
  }
}
